.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.language-items {
  justify-content: center;
  flex-direction: column;
}

.language-name {
  margin-top: 40px;
  font-weight: bold;
  color: aqua;
  display: flex;
  justify-content: center;
}

.language-image {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 200px;
  transform: matrix();
}

button {
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 10px;
}
